/build/
/install/
/obj/
/bin/
/.vs/
/.vscode/
/.idea/
/cmake-build-*/
/._DS_Store/
._*
/Testing/
/deps/

# Sample environments (created by setup_env scripts)
tests/samples/env/

# Auxiliary compilation output
**/aux/
.fake